@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  min-width: 325px;
  background-color: #eeeeee;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23bfbfbf' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
}

header {
  width: 100%;
  background-color: #666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px 0;
  margin-bottom: 20px;
  z-index: 2;
}

header span {
  font-size: 36px;
  text-shadow: rgba(255, 255, 255, 0.2) 0 0 5px;
}

header a {
  position: absolute;
  right: 0;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-color: #32a9ff;
  color: black;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 480px) {
  header a {
    width: 25px;
    height: 25px;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 5px;
    top: 0;
  }
}

header a:hover {
  background-color: #1e90ff;
  transform: scale(1.1);
}

header a:active {
  background-color: #6db6ff;
  transform: scale(0.9);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

h1 {
  margin-bottom: 0;
}

.task-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

canvas {
  background-size: contain;
  width: calc(100vw - 360px);
  min-width: 300px;
  max-width: calc(100vh - 220px);
  height: auto;
}

.placeholder {
  min-width: 270px;
}

.a {
  background-color: #00c721;
}

.b {
  background-color: #57ea55;
}

.c {
  background-color: #f0ff1e;
}

.d {
  background-color: #ff9e1e;
}

.e {
  background-color: #ff1e1e;
}

.job-wrapper {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.job-wrapper.active {
  display: flex;
  animation: fadeOutIn 0.3s ease-in-out forwards;
}

#rating-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0 0 0 / 3%);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
  padding: 100px 20px 150px 20px;
  margin-top: 0;
}

#rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

@media (max-width: 660px), (orientation: landscape) and (max-height: 660px) {
  main {
    padding: 0 10px;
  }

  .task-wrapper {
    justify-content: center;
  }

  #rating-wrapper {
    position: relative;
    width: 100vw;
    max-width: unset;
    height: unset;
    padding: 0 30px;
    margin-top: 50px;
    min-width: 360px;
    background-color: transparent;
  }

  .placeholder {
    min-width: 0;
  }

  canvas {
    width: calc(100vw - 80px);
  }
}

ul#rating {
  list-style: none;
  padding: 0;
  margin: 0;
}

.job-rating-wrapper {
  display: none;
}

.job-rating-wrapper.active {
  display: block;
}

#rating li {
  background-color: #f2f2f2;
  padding: 10px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  border-radius: 10px;
  user-select: none;
}

.arrow-up,
.arrow-down {
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  height: 100%;
  width: 25px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  border-radius: 10px;
  color: #222;
}

.arrow-up:disabled,
.arrow-down:disabled {
  /* opacity: 0.5; */
  cursor: not-allowed;
  box-shadow: 0 0 1px #666666;
  color: #666666;
  background-color: #aaaaaa;
}

.arrow-up:hover,
.arrow-down:hover {
  transform: scale(1.05);
}

.arrow-up:active,
.arrow-down:active {
  transform: scale(0.95);
}

.arrow-up:disabled:hover,
.arrow-down:disabled:hover {
  transform: scale(1);
}

.arrow-up:disabled:active,
.arrow-down:disabled:active {
  transform: scale(1);
}

.arrow-up {
  background-color: #84cb84;
  box-shadow: 0 0 3px 1px #666666;
}

.arrow-down {
  background-color: #e19999;
  box-shadow: 0 0 3px 1px #666666;
}

#rating {
  width: 100%;
  max-width: 280px;
  font-size: 20px;
}

#rating li span {
  margin: 0 5px;
  width: calc(100% - 103px);
}

#rating li picture {
  position: absolute;
  right: -17px;
  top: -8px;
}

#rating li img {
  display: block;
  width: 55px;
  height: 55px;
}

#rating li span.animated {
  animation: fadeOutIn 0.5s ease-in-out;
}

#task_counter {
  margin-top: 50px;
  font-size: 20px;
}

#task_counter_progress {
  width: 100%;
  height: 10px;
  background-color: #666;
  border-radius: 10px;
  margin: 0;
  position: relative;
  overflow: hidden;
  border: 2px solid #666;
}

#task_counter_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1dcb49;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#confirmBtn {
  width: 100%;
  max-width: 300px;
  padding: 15px 25px;
  font-size: 30px;
  background-color: #1dcb49;
  color: #000;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 50px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}

#confirmBtn:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

#confirmBtn:active {
  filter: brightness(0.9);
  transform: scale(0.98);
}

footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: rgba(255, 255, 255, 0.2) 0 0 3px;
  z-index: 2;
}

footer .footer-top {
  width: 100%;
  background-color: #666;
}

footer .footer-bottom {
  width: 100%;
  background-color: #444;
}

@keyframes fadeOutIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* qualification.php */
.loader {
  font-size: 48px;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* results.php */
#vcodeContainer {
  user-select: all;
  padding: 20px 10px;
  border: 2px dashed #000;
  border-radius: 15px;
  font-size: 24px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  background-color: #e3dcdc;
}

#copyVcodeBtn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #1dcb49;
  outline: none;
  border: 0;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

#copyVcodeBtn:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}

#copyVcodeBtn:active {
  filter: brightness(0.9);
  transform: scale(0.98);
}

/* about.php */
p {
  font-size: 20px;
  line-height: 35px;
  width: 100%;
}

#placementP {
  display: grid;
  grid: 1fr / 2fr 1fr;
  justify-items: end;
}

@media screen and (max-width: 720px) {
  #placementP {
    grid: 1fr 1fr / 1fr;
    justify-items: center;
  }
}

.img-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img-subwrapper {
  margin: 0 10px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-wrapper img {
  width: 100%;
  max-width: 350px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px 1px #666;
}

.img-wrapper span {
  display: block;
  max-width: 350px;
  margin-bottom: 10px;
  height: 120px;
}

button.toTaskBtn {
  width: 100%;
  max-width: 300px;
  padding: 15px 25px;
  font-size: 30px;
  background-color: #1dcb49;
  color: #000;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}

button.toTaskBtn:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

button.toTaskBtn:active {
  filter: brightness(0.9);
  transform: scale(0.98);
}

/* failed.php */
#failContainer {
  text-align: center;
}
